HciLab.Kinect/bin/
HciLab.Kinect/obj/
HciLab.KoBeLU.InterfacesAndDataModel/bin/
HciLab.KoBeLU.InterfacesAndDataModel/obj/
HciLab.Utilities/bin/
HciLab.Utilities/obj/
KoBeLUAdmin/bin/
KoBeLUAdmin/obj/

ubidisplays_lib/csdisplays/BlankTouch/bin
ubidisplays_lib/csdisplays/BlankTouch/obj

ubidisplays_lib/src/UbiDisplays/bin
ubidisplays_lib/src/UbiDisplays/obj
/*.suo
/ubidisplays_lib/src/*.suo
KinectDepthSmoothing/bin/
KinectDepthSmoothing/obj/
packages/
.vs/
Library

tools/**
!tools/packages.config
